<!DOCTYPE html>
<html>
  <head>
    <!-- charset how to render our charecters -->
    <meta charset="utf-8">
    <title>Help page</title>
  </head>
  <body>
    {{> header}}
    <p>some paragraph text</p>

    {{> footer }} <!-- to access the footer partial [> then name of partial]-->
  </body>
</html>
