<!DOCTYPE html>
<html>
  <head>
    <!-- charset how to render our charecters -->
    <meta charset="utf-8">
    <title>Help page</title>
  </head>
  <body>
    <h1>we'be right back shortly</h1>
    <p>
      site is under maintenance. 
    </p>
  </body>
</html>
