<!DOCTYPE html>
<html>
  <head>
    <!-- charset how to render our charecters -->
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}} hai changed projects!!!</p> <!--to use helper partial use helper name space data.
    if more than one arg. type args. seperated by space [[screamIt 1st 2nd]]-->

    {{> footer}}
  </body>
</html>
